<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer class="blog-footer bg-inverse" data-th-fragment="footer">
    <a id="goToTop" href="#">
        <i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i>
    </a>
    <div class="container">
        <p class="m-0 text-center text-white">© 2019 <a
                href="https://github.com/minatoyukina">minatoyukina@github.com</a></p>
    </div>

    <!-- JavaScript -->
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/jquery.form.min.js}"></script>
    <script th:src="@{/js/tether.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/nprogress.js}"></script>
    <script th:src="@{/js/jquery.tagsinput.min.js}"></script>
    <script th:src="@{/js/chosen.jquery.js}"></script>
    <script th:src="@{/js/toastr.min.js}"></script>
    <script th:src="@{/js/cropbox.js}"></script>
    <script th:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>
    <script th:src="@{/js/main.js}"></script>

    <script th:src="@{/editormd/editormd.js}"></script>

</footer>

</body>
</html>