<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="stylesheet" th:href="@{/editormd/editormd.css}"
          href="../static/editormd/editormd.css"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="editormd" id="test-editormd">
    <textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc" id="content"></textarea>
    <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
    <textarea class="editormd-html-textarea" name="editormd-html-textarea" id="htmlContent"></textarea>
</div>
<button class="btn btn-primary" id="submitBtn">发布</button>
</body>
<script th:src="@{/editormd/jquery.min.js}" src="../static/js/jquery-3.1.1.min.js"></script>
<script th:src="@{/editormd/editormd.js}" src="../static/editormd/editormd.js"></script>
<script type="text/javascript">
    $(function () {
        editormd("test-editormd", {
            width: "90%",
            height: 640,
            syncScrolling: "single",
            //你的lib目录的路径，我这边用JSP做测试的
            tocm: true, // Using [TOCM]
            tex: true, // 开启科学公式TeX语言支持，默认关闭
            flowChart: true, // 开启流程图支持，默认关闭
            path: "/editormd/lib/",
            //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
            saveHTMLToTextarea: true
        });
    });
    $("#submitBtn").click(
        function () {
            submitblog();
        }
    );

    function submitblog() {
        var title = $("#title").val();
        var content = $("#content").val();
        var htmlContent = $("#htmlContent").val();
        $.ajax({
            url: "submit",
            data: {title: title, content: content, htmlContent: htmlContent},
            success: function () {
                alert("发布成功");
            },
            error: function () {
                alert("发布失败");
            }
        })
    }

</script>
</html>